[class*="col-"]{
  height: 200px;
  background-color: #FFC1CB;
  border: 1px solid black;
}

.container{
  position: relative;
}

p{
  line-height: 200px;
  text-align: center;

}

.padding-nested{
  padding: 3px 3px;
  padding-bottom: 3px;
}

.nested{
  height: 100%;
  background-color: #F07F80;
  border: 1px solid #fff;
}
